<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <a class="navbar-brand" href="/"><img src="../../assets/logo1.png" width="120" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
          <div class="navbar-nav p-2 ">
           <a class="nav-item nav-link" href="#/services">Services</a>
            <a class="nav-item nav-link"  href="#/articles">Article Publications</a>
           
            <a href="#/contact" class="nav-link nav-item">Get In Touch</a>
            <a class="nav-item nav-link" href="#/collaborate/team">Who We Are</a>
            <a href="#/dashboard" ng-if="userIsLogged" class="nav-link nav-item">Dashboard</a>
  
            <a href="#/logout" ng-if="userIsLogged" class="nav-link nav-item btn btn-danger">Logout</a>
          </div>
        </div>
      </nav>
 
<div class="m-4"></div> 