<div class="container p-4 my-4" ng-controller="Admin as section">
        <div class="row">
            <div class="col-md-6 text-left align-left">
              <h3 class="font-weight-bold my-4 border-bottom">
                  {{section.about.title}}
              </h3>
              <div class="text-muted">
                  {{section.about.content}}
              </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/about.png" class="w-100"/>
            </div>
        </div>
    </div>