<div class="container p-4 my-4" ng-controller="Admin as section">
        <div class="row">
            <div class="col-md-6 text-left align-left my-4" ng-repeat="item in section.articles">
              <h3 class="font-weight-bold my-4">
                  <img ng-src="{{item.image}}" width="100" class="float-right"/> {{item.title}}
              </h3>
              <div class="text-muted">
                  {{item.content}}
              </div>
              <div class="text-muted">
                  <a href="{{item.link}}">{{item.link}}</a>
              </div>
            </div>
        </div>
    </div>