<div class="container p-4 my-4" ng-controller="Admin as section">
        <div class="row">
            <div class="col-md-6 bg-white text-left align-left" ng-repeat="item in section.services">
                <img ng-src="{{item.graphic}}" width="100%"/>
                <h3 class="font-weight-bold my-4">
                    {{item.title}}
                </h3>
                <div class="text-muted">
                    {{item.content}}
                </div>
                <div class="text-muted border-top my-4 p-3">
                    <a href='http://www.uptasker.co.za/b/angulardevelopers' class="btn btn-lg bg-light"><img ng-src="{{item.image}}" width="120"/></a>
                </div>
            </div>
            
        </div>
    </div>